/*!--------VARIABLES----------*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,700;0,800;1,200;1,500;1,600;1,700;1,800&display=swap");
.category-item-inner, .mapa .medios-pagos, .reparacion-celular, .reparacion-reloj {
  display: flex;
  justify-content: center;
  align-items: center; }

/*!--------RESET----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-repeat: no-repeat; }

/* CONTACTO MAIN BOOTSTRAP */
.contacto-main {
  background-color: #ffffff;
  grid-area: main; }
  .contacto-main .first_col {
    background-color: #e5bb00;
    height: 550px;
    box-shadow: #000000 0px 5px 15px;
    position: initial;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 20px; }
    .contacto-main .first_col .btn-primary {
      background-color: #c1b688;
      border: #c1b688; }
      .contacto-main .first_col .btn-primary .form-control {
        height: 52px;
        background: #ffffff;
        font-size: 14px;
        border-radius: 2px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #c1b688; }
        .contacto-main .first_col .btn-primary .form-control .form-control[type=text]:focus {
          border: 2px solid #666; }

.img-fluid {
  border-radius: 20px;
  display: flex;
  position: -webkit-sticky;
  flex-wrap: wrap;
  margin-left: 70px; }

.row-last {
  width: 100%;
  position: sticky;
  left: 350px;
  top: 50px;
  height: 100px;
  padding-bottom: 100px;
  background-color: #c1b688;
  border-radius: 20px;
  text-align: center; }

.btn-primary:hover {
  background-color: #000000 !important; }

.navbar-dark .navbar-nav .nav-link.active {
  color: coral; }

.navbar-dark .navbar-nav .nav-link {
  color: #ad7e08; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='coral' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-toggler {
  border: 1px solid #938309; }

.nav-link:hover {
  color: #0c0c0c !important;
  text-decoration: underline; }

.header-contacto {
  grid-area: header; }

.navbar {
  grid-area: nav; }

/*!--------CATEGORIES---------*/
.categories {
  max-width: 90%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px; }
  .categories .category-item {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    border: 2px solid white;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out; }
    .categories .category-item:hover {
      opacity: 0.7; }
      .categories .category-item:hover a:hover {
        color: #000000; }

.category-item-inner {
  height: 100%; }
  .category-item-inner div {
    padding: 5px 10px;
    background: #000000;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }

/*!--------MAIN Productos Destacados----------*/
.productos-destacados {
  margin-top: 30px;
  max-width: 1200px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px; }
  .productos-destacados .productos-destacados-item {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd; }
    .productos-destacados .productos-destacados-item .productos-destacados-item-image {
      height: 300px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }

.productos-destacados-title {
  text-align: center;
  margin-top: 20px;
  font-weight: bold; }

.title {
  font-size: 20px;
  font-weight: bold; }

.description {
  color: #666; }

button {
  outline: none;
  background: #000000;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0; }
  button:hover {
    transform: scale(1.1, 1.1); }

/*!--------MAIN NOSOTROS----------*/
.about-us {
  max-width: 100%;
  padding: 78px 0px;
  background-color: #ffffff;
  overflow: hidden; }

.info-nosotros {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .info-nosotros img {
    margin-right: 30px;
    width: 65%;
    height: auto;
    padding: 50px;
    float: left; }
  .info-nosotros .nosotros-text {
    padding: 30px; }
    .info-nosotros .nosotros-text h1 {
      color: #333;
      font-size: 40px;
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold; }
    .info-nosotros .nosotros-text p {
      color: #666;
      letter-spacing: 1px;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 45px;
      text-align: justify;
      text-transform: inherit;
      float: left;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
      margin-right: 30px;
      margin-left: 30px; }

.about-us:hover .nosotros-text p {
  opacity: 1;
  visibility: visible; }

.mapa {
  background-color: #ffffff; }
  .mapa .text-ubicacion {
    text-align: center;
    margin-bottom: 30px;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out; }
  .mapa .map-responsive {
    overflow: hidden;
    position: relative;
    height: 400px;
    margin-bottom: none; }
  .mapa .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .mapa .text-pagos {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out; }
  .mapa .medios-pagos img {
    width: 80%;
    height: 100%;
    margin-bottom: 40px;
    border-radius: 15px; }
  .mapa:hover .text-ubicacion {
    transform: translateX(0); }
  .mapa:hover .text-pagos {
    transform: translateX(0); }

/*!--------MAIN RELOJES----------*/
.contenedor-relojes-items {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  contain: paint;
  margin-bottom: 50px; }

/* SECCION CONTENEDOR DE ITEMS */
.contenedor-relojes-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: .3s; }
  .contenedor-relojes-items .item {
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s; }
    .contenedor-relojes-items .item .img-item {
      width: 100%; }

.item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05; }

.titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px; }

.boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer; }

.boton-item-mas {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin-left: 542px; }

.titulo-relojes {
  margin-top: 60px; }
  .titulo-relojes h1 {
    text-align: center;
    margin-bottom: 50px; }

/* MAIN SERVICE */
.reparaciones {
  margin-top: 20px;
  width: 100%;
  padding: 60px 0px;
  background-color: #ffffff;
  overflow: hidden; }

.titulo-repara {
  text-align: center;
  opacity: 0.5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #ffffff;
  padding: 10px;
  z-index: 1;
  transition: opacity 0.5s ease-in-out; }

.titulo-repara:hover {
  opacity: 1; }

.reparacion-celular {
  margin-top: 90px;
  width: 100%;
  max-width: 95%; }
  .reparacion-celular img {
    margin-right: 30px;
    width: 65%;
    height: auto;
    padding: 50px;
    float: left; }
  .reparacion-celular .reparacion-cel-text {
    width: 60%; }
    .reparacion-celular .reparacion-cel-text h2 {
      color: #333;
      font-size: 40px;
      margin-bottom: 20px;
      text-align: center; }
    .reparacion-celular .reparacion-cel-text p {
      color: #666;
      letter-spacing: 1px;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 45px;
      text-align: justify;
      text-transform: inherit;
      float: left;
      opacity: 1; }

.reparacion-reloj {
  width: 100%;
  max-width: 95%;
  background-color: #ffffff;
  overflow: hidden; }

.reparacion-relojes {
  margin-top: 90px;
  width: 100%;
  max-width: 95%; }
  .reparacion-relojes img {
    width: 90%;
    height: auto;
    padding: 50px;
    float: right; }

.reparacion-rel-text {
  margin-left: 30px;
  text-align: justify;
  width: 60%; }
  .reparacion-rel-text h2 {
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center; }
  .reparacion-rel-text p {
    color: #666;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 45px;
    text-align: justify;
    text-transform: inherit;
    float: right;
    opacity: 1; }

.reparacion-joyas {
  width: 100%;
  max-width: 95%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.reparaciones-joyas {
  margin-top: 90px;
  width: 100%;
  max-width: 95%; }
  .reparaciones-joyas img {
    width: 100%;
    height: auto;
    padding: 50px;
    float: right; }

.reparacion-joyas-text {
  margin-left: 30px;
  text-align: justify;
  width: 60%; }
  .reparacion-joyas-text h2 {
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center; }
  .reparacion-joyas-text p {
    color: #666;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 45px;
    text-align: justify;
    text-transform: inherit;
    float: left;
    opacity: 1; }

.grid-contenedor-contacto {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 100 px 400px 150px;
  grid-template-areas: "header header header" "nav nav nav" "main main aside" "footer footer footer"; }

.pie {
  background-color: #807182;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.references ul {
  list-style: none;
  padding: 0; }
  .references ul li {
    display: inline;
    margin: 0 10px; }
    .references ul li a:hover {
      transform: scale(1.5, 1.5); }
      .references ul li a:hover:hover {
        color: #000000; }

.inicio:hover {
  transform: scale(1.5, 1.5); }
  .inicio:hover a {
    color: #f4f2ee; }
    .inicio:hover a:hover {
      color: #000000; }

.social-media {
  align-items: end; }
  .social-media a {
    text-decoration: none;
    color: white; }
    .social-media a img {
      margin-top: 10px;
      width: 40px;
      height: 40px; }

.footer-contact {
  max-width: 100%;
  grid-area: footer; }

/*!--------MEDIA QUERIES----------*/
@media screen and (max-width: 1120px) {
  .productos-contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; }
  .sidebar {
    background-color: rgba(216, 158, 12, 0.756);
    backdrop-filter: blur(10px); } }

@media screen and (max-width: 1120px) and (max-width: 1000px) {
  .productos-destacados {
    grid-template-columns: repeat(2, 1fr); }
  .category-item {
    min-width: 50%; } }

@media screen and (max-width: 1120px) and (max-width: 992px) {
  .productos-contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; }
  .sidebar {
    background-color: rgba(255, 255, 255, 0.756);
    backdrop-filter: blur(10px); }
  .img-fluid {
    height: 400px;
    max-width: 500px;
    border-radius: 20px;
    display: flex;
    position: unset;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 50px;
    align-items: center; } }

@media screen and (max-width: 1120px) {
  .productos-contenedor div img {
    width: 250px;
    height: 250px;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .info-nosotros {
    width: 100%;
    max-width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .nosotros-text h1 {
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center; }
  .nosotros-text p {
    color: #666;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 45px;
    text-align: center;
    text-align: justify;
    text-transform: inherit;
    float: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; } }

@media screen and (max-width: 902px) {
  .reparacion-celular {
    margin-top: 90px;
    width: 100%;
    max-width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .reparacion-celular img {
      width: 150%;
      height: auto;
      padding: 50px;
      float: left; }
  .reparacion-reloj {
    margin-top: 20px;
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: column; }
    .reparacion-reloj .reparacion-relojes img {
      width: 100%;
      height: auto; }
  .reparacion-joyas {
    max-width: 95%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .reparaciones-joyas {
    margin-top: 20px;
    width: 100%;
    max-width: 95%; }
    .reparaciones-joyas img {
      width: 100%;
      height: auto;
      padding: 30px;
      margin: 0 auto; } }

@media (max-width: 800px) {
  .category-item {
    min-width: 100%; }
  .category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .category-item-inner div {
      padding: 5px 10px;
      background: rgba(0, 0, 0, 0.484);
      color: white;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase; }
  .productos-destacados {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 770px) {
  .row-last {
    left: 0 !important;
    width: 100% !important;
    height: 250px !important;
    top: 0 !important; }
  .info-nosotros {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .info-nosotros img {
      margin-right: 30px;
      width: 100%;
      height: auto;
      padding: 50px;
      float: left; } }

@media screen and (max-width: 650px) {
  .productos-contenedor div h3 {
    font-size: medium; } }

@media screen and (max-width: 600px) {
  .productos-contenedor div img {
    width: 100%;
    height: auto;
    align-items: center; }
  .productos-contenedor div {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; }
  .sec_col {
    order: 1; }
  .row-last {
    left: 0;
    width: 100%;
    height: 250px;
    top: 0; }
  .img-fluid {
    height: auto;
    max-width: 80%;
    border-radius: 20px;
    display: flex;
    position: unset;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 50px;
    align-items: center; }
  .category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .category-item-inner div {
      padding: 5px 10px;
      background: rgba(0, 0, 0, 0.484);
      color: white;
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase; } }

@media screen and (max-width: 480px) {
  .productos-contenedor {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
  .carousel-inner {
    height: 280px;
    background-position: center; }
  .carousel-inner div img {
    height: 280px;
    background-position: center; }
  .pie {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .references ul {
    margin-bottom: 20px; }
  .socialmedia img {
    height: 30px;
    width: 30px;
    margin: 5px; }
  .reparacion-joyas-text {
    margin-left: 30px;
    text-align: justify;
    width: 90%; }
    .reparacion-joyas-text h2 {
      color: #333;
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold; }
    .reparacion-joyas-text p {
      color: #666;
      letter-spacing: 1px;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 45px;
      text-align: justify;
      text-transform: inherit;
      float: left;
      opacity: 1; }
  .reparacion-rel-text {
    margin-left: 30px;
    text-align: justify;
    width: 90%; }
    .reparacion-rel-text h2 {
      color: #333;
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold; }
    .reparacion-rel-text p {
      color: #666;
      letter-spacing: 1px;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 45px;
      text-align: justify;
      text-transform: inherit;
      float: left;
      opacity: 1; }
  .reparacion-celular {
    margin-top: 90px;
    width: 100%;
    max-width: 95%;
    display: flex;
    align-items: center; }
    .reparacion-celular img {
      margin-right: 30px;
      width: 150%;
      height: auto;
      padding: 50px;
      float: left; }
    .reparacion-celular .reparacion-cel-text {
      width: 85%; }
      .reparacion-celular .reparacion-cel-text h2 {
        color: #333;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold; }
      .reparacion-celular .reparacion-cel-text p {
        color: #666;
        letter-spacing: 1px;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 45px;
        text-align: justify;
        text-transform: inherit;
        float: left;
        opacity: 1; } }

@media screen and (max-width: 450px) {
  .productos-contenedor {
    grid-template-columns: 1fr; }
    .productos-contenedor .header-container {
      flex-direction: column; }
    .productos-contenedor .pie {
      font-size: small; }
    .productos-contenedor .socialmedia img {
      height: 30px;
      width: 30px; } }

@media screen and (max-width: 450px) {
  .pie {
    font-size: small; }
  .socialmedia img {
    height: 30px;
    width: 30px; }
  .category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .category-item-inner div {
      padding: 5px 10px;
      background: rgba(0, 0, 0, 0.484);
      color: white;
      border-radius: 10px;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase; }
  .info-nosotros {
    max-width: 100%;
    display: flex;
    align-items: center; }
    .info-nosotros img {
      margin-right: 30px;
      width: 150%;
      height: auto;
      padding: 50px;
      float: left; } }

@media screen and (max-width: 430px) {
  .menu ul {
    flex-direction: column;
    align-items: center; } }

.menu ul li {
  margin: 3px; }
