@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,700;0,800;1,200;1,500;1,600;1,700;1,800&display=swap');




/*!--------RESET----------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
a{
    text-decoration: none;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-repeat: no-repeat;


    
}

.grid-contenedor-contacto{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 100 px 400px 150px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer"
    ;
}


/*!--------HEADER----------*/
.navbar-dark .navbar-nav .nav-link.active {
    color: coral;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(173, 126, 8);
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='coral' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler{
    border:1px solid rgb(147, 131, 9);
}

.nav-link:hover{
    color: #0c0c0c !important;
    text-decoration: underline;
}

.header-contacto{
    grid-area: header;
}

.navbar{
    grid-area: nav;
}



/*!--------MAIN----------*/

.carousel-item img {
    max-width: 100%;
    height: auto;
}
.hero{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    background-color:#3E3844 ;
    text-decoration: none;
    color: antiquewhite;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.carousel-control-next,
.carousel-control-prev{
    background-color: #00000039;
    display: flex;
    width: 30px;

}

.destacados h1{
    text-align: center;
    margin-top: 50px;
    color: #a87723;

}
.productos-contenedor  {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
    gap: 25px;
    position: relative;


}
.productos-contenedor h3{
    text-align: center;
    color: #0c0c0c;
    font-size: 20px;
    padding: 7px;
    margin-bottom: 30px;
}


.productos-contenedor div a h3{
    text-decoration-line: none;
    color: goldenrod;
    background-color: rgb(46, 1, 43);
    width: 100%;
    text-align: center;
}


.productos-contenedor div {
    width: 100%;
    height:100%;
    border: 4px solid goldenrod;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 10px 10px 7px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 7px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -5px rgba(0,0,0,0.75)
}

.productos-contenedor div img{
    width: 60%;
    height: 60%;
}

.productos-contenedor div a h3:hover{
    transform: scale(1.1,1.1);
}

.mas-productos a h3{
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 130px;
    text-decoration: none;
    color: #000000;
}

.mas-productos a :hover{
color: #BE8C37;
}




.contacto-main{
    background-color: #ffffff;
    grid-area: main;
}

.aside{
    background-color: #ffffff;
    grid-area: aside;
    display: flex;
    justify-content: center;
}


.first_col {
    background-color: rgb(229, 187, 0);
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position:initial;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
    display: flex;
    position: -webkit-sticky;
    flex-wrap: wrap;
    margin-left: 70px;
}

.row-last {
    width: 100% ;
    position:sticky ;
    left: 350px;
    top: 50px;
    height: 100px;
    padding-bottom: 100px;
    background-color: #c1b688;
    border-radius: 20px;
    text-align: center;

}

.btn-primary {
    background-color: #c1b688;
    border: #c1b688;

}

.btn-primary:hover {
    background-color: black !important;
}

.form-control {
    height: 52px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #c1b688;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}

/*!--------FOOTER----------*/

.pie{

    background-color: #807182;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.references ul {
    list-style: none;
    padding: 0;
}

.references ul li {
    display: inline;
    margin: 0 10px;
}
.social-media a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.social-media {
    align-items: end;

}

.social-media img{
    margin-top: 10px;
    width: 40px; 
    height: 40px;
} 

.inicio a{
    color: #f4f2ee;

}

.inicio:hover{
    transform: scale(1.5,1.5);

}

.inicio a:hover{
    color: #070500;
    }

.references a{
color: #f4f2ee;
}
.references a:hover{
    transform: scale(1.5,1.5);
}

.references a:hover{
    color: #000000;
}

.footer-contact{
    max-width: 100%;
    grid-area: footer;
}
/*!--------MEDIA QUERIES----------*/

@media screen and (max-width: 1120px) {
    .productos-contenedor{
        grid-template-columns:repeat(2, 1fr) ;
        grid-auto-rows: auto;
        }
    .sidebar{
        background-color: rgba(216, 158, 12, 0.756);
        backdrop-filter: blur(10px);
        
}
@media screen and (max-width:992px){
    .productos-contenedor{
        grid-template-columns:repeat(2, 1fr) ;
        grid-auto-rows: auto;
        }
        .sidebar{
            background-color: rgba(255, 255, 255, 0.756);
            backdrop-filter: blur(10px);
        }
        .img-fluid {
            height: 400px ;
            max-width: 500px;
            border-radius: 20px;
            display: flex;
            position:unset;
            flex-wrap: wrap;
            margin-left: 60px;
            margin-right: 50px;
            align-items: center;
        }
    
    }

    .productos-contenedor div img{
        width: 250px;
        height: 250px;  
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width:770px){
    .row-last {
        left: 0 !important;
        width: 100% !important;
        height: 250px !important;
        top: 0 !important;
    }
    }

    @media screen and (max-width:650px){
        .productos-contenedor div h3{
            font-size: medium;
        }
        }
        @media screen and (max-width: 600px) {
            .productos-contenedor div img {
                width: 100%; 
                height: auto; 
                align-items: center;
            }
        
            .productos-contenedor div {
                max-width: 100%;
                height: auto;
                margin-bottom: 20px;
                
            }

            .sec_col {
                order: 1 ;
            }
        
            .row-last {
                left: 0 ;
                width: 100% ;
                height: 250px;
                top: 0 ;
            }
            .img-fluid {
                height: auto ;
                max-width: 80%;
                border-radius: 20px;
                display: flex;
                position:unset;
                flex-wrap: wrap;
                margin-left: 60px;
                margin-right: 50px;
                align-items: center;
            }
        
        }

        }
        @media screen and (max-width: 480px) {
            .productos-contenedor {
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            }

            .carousel-inner {
                height: 280px;
                background-position: center;
                }
                .carousel-inner div img{
                    height: 280px;
                    background-position: center;

            }
        
        
            .pie {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        
            .references ul {
                margin-bottom: 20px;
            }
        
            .socialmedia img {
                height: 30px;
                width: 30px;
                margin: 5px; 
            }
        
        }
@media screen and (max-width:450px){
        .productos-contenedor{
            grid-template-columns: 1fr;
        .header-container{
            flex-direction: column;
        }
        .pie{
            font-size: small;
        }
        .socialmedia img{
            height: 30px;
            width: 30px;
        }
            }
        } 
    @media screen and (max-width:450px){
        .pie{
            font-size: small;
        }
        .socialmedia img{
            height: 30px;
            width: 30px;
        }
        }
@media screen and (max-width:430px){
    .menu ul {
        flex-direction: column;
        align-items: center;
    }
    }
    .menu ul li{
        margin: 3px;
        }
