@media (max-width: 1000px) {
    .productos-destacados {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .productos-destacados{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    .category-item {
        min-width: 50%;
    }
}

@media (max-width: 800px) {
    .category-item {
        min-width: 100%;
    }
}