/*!--------CATEGORIES---------*/
.categories {
    max-width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;


    .category-item {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 33.33%;
        border: 2px solid white;
        box-sizing: border-box;
        height: 300px;
        background-size: cover;
        background-position: center;
        transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;

        &:hover {
            opacity: 0.7;
        
        

        a {
            &:hover {
                color: $color-terciario;
            }
        }
        }
    }
    }


        .category-item-inner {
        @extend %flex-center;
            height: 100%;
                div {
                padding: 5px 10px;
                background: $color-terciario;
                color: white;
                border-radius: 10px;
                font-size: nth($font-size, 5);
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        


/*!--------MAIN Productos Destacados----------*/

.productos-destacados {
    margin-top: 30px;
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

    .productos-destacados-item {
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #ddd;
    .productos-destacados-item-image {
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    }
    }


.productos-destacados-title {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.title {
    font-size: nth($font-size, 3);
    font-weight: bold;
}

.description {
    color: $color-parrafos;
}



button {
    &:hover {
        transform: scale(1.1, 1.1);

    }

    outline: none;
    background: $color-terciario;
    color: $color-principal;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: nth($font-size, 2);
    margin: 10px 0;



}

/*!--------MAIN NOSOTROS----------*/



.about-us {
    max-width: 100%;
    padding: 78px 0px;
    background-color: $color-principal;
    overflow: hidden;
}

.info-nosotros {
    max-width: 100%;
    @include flex (flex, space-between, center);

    img {
        margin-right: 30px;
        width: 65%;
        height: auto;
        padding: 50px;
        float: left;
    }

    .nosotros-text {
        padding: 30px;
        h1 {
            color: $color-nosotros;
            font-size: nth($font-size, 6);
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
        }

        p {
            color: $color-parrafos;
            letter-spacing: 1px;
            font-size: nth($font-size, 1);
            line-height: 1.5;
            margin-bottom: 45px;
            text-align: justify;
            text-transform: inherit;
            float: left;
            margin-right: 30px;
            margin-left: 30px;
        }
    }
}



.text-ubicacion {
    text-align: center;
    margin-bottom: 30px;
    background-color: $color-principal;

}

.mapa {
    background-color:$color-principal;


        text-align: center;
        margin-bottom: 30px;
        background-color: $color-principal;

    .map-responsive {
        overflow: hidden;
        position: relative;
        height: 400px; 
        margin-bottom: none;
    }

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;

    }
    .text-pagos{
        text-align: center;
        margin-bottom: 60px;
        margin-top: 60px;

    }
    .medios-pagos{
        @extend %flex-center;
        img{

        
        width: 80%;
        height: 100%;
        margin-bottom: 40px;
        border-radius: 15px;
        }
    }


}
/*!--------MAIN RELOJES----------*/

.contenedor-relojes-items{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    @include flex (flex, space-between, center);
    contain: paint;
    margin-bottom: 50px;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor-relojes-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;

    .item{
        max-width: 200px;
        margin: auto;
        border: 1px solid $color-parrafos;
        border-radius: 10px;
        padding: 20px;
        transition: .3s;

        .img-item{
            width: 100%;
}

}

}
.item {
    &:hover {
        box-shadow: 0 0 10px $color-parrafos;
        scale: 1.05;
    }

}
.titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: nth($font-size, 4);
}

.boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: map-get($boton, fondo);
    color: map-get($boton, color-texto);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.boton-item-mas{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: map-get($boton, fondo);
    color: map-get($boton, color-texto);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin-left: 542px;
    
}

.titulo-relojes{
    margin-top: 60px;
    h1{
        text-align: center;
        margin-bottom: 50px;
    }
}


/* MAIN SERVICE */


.reparaciones {
    margin-top: 20px;
    width: 100%;
    padding: 60px 0px;
    background-color: $color-principal;
    overflow: hidden;
}
.titulo-repara {
    text-align: center;
    opacity: 0.5; 
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background: $color-principal; 
    padding: 10px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
.titulo-repara:hover {
    opacity: 1;
}


.reparacion-celular{
    margin-top: 90px;
    width: 100%;
    max-width: 95%;
    @extend %flex-center;

    img {
        margin-right: 30px;
        width: 65%;
        height: auto;
        padding: 50px;
        float: left;
    }

    .reparacion-cel-text {
        width: 60%;
        h2 {
            color: $color-nosotros;
            font-size: nth($font-size, 6);
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            color: $color-parrafos;
            letter-spacing: 1px;
            font-size: nth($font-size, 1);
            line-height: 1.5;
            margin-bottom: 45px;
            text-align: justify;
            text-transform: inherit;
            float: left;
            opacity: 1; 
            
        }
    }
}
.reparacion-reloj{

    width: 100%;
    max-width: 95%;
    background-color: $color-principal;
    overflow: hidden;
    @extend %flex-center;
    
}

.reparacion-relojes{
    margin-top: 90px;
    width: 100%;
    max-width: 95%;



    img {
        
        width: 90%;
        height: auto;
        padding: 50px;
        float: right;
        
    }
}

    .reparacion-rel-text {
        margin-left: 30px;
        text-align: justify;
        width: 60%;

        h2 {
            color: $color-nosotros;
            font-size: nth($font-size, 6);
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            color: $color-parrafos;
            letter-spacing: 1px;
            font-size: nth($font-size, 1);
            line-height: 1.5;
            margin-bottom: 45px;
            text-align: justify;
            text-transform: inherit;
            float: right;
            opacity: 1; 
            
        }
    }


    .reparacion-joyas{

        width: 100%;
        max-width: 95%;
        background-color: $color-principal;
        overflow: hidden;
        @include flex (flex, space-between, center)
    }
    
    .reparaciones-joyas{
        margin-top: 90px;
        width: 100%;
        max-width: 95%;
    
        img {

            width: 100%;
            height: auto;
            padding: 50px;
            float: right;
        }
    }
    
        .reparacion-joyas-text {
            margin-left: 30px;
            text-align: justify;
            width: 60%;
    
            h2 {
                color: $color-nosotros;
                font-size: nth($font-size, 6);
                margin-bottom: 20px;
                text-align: center;
            }
    
            p {
                color: $color-parrafos;
                letter-spacing: 1px;
                font-size: 15px;
                line-height: 1.5;
                margin-bottom: 45px;
                text-align: justify;
                text-transform: inherit;
                float: left;
                opacity: 1; 
                
            }
        }

        .grid-contenedor-contacto{
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 250px 100 px 400px 150px;
            grid-template-areas: 
            "header header header"
            "nav nav nav"
            "main main aside"
            "footer footer footer"
            ;
        }





        

